In [1]:
import pandas as pd

In [75]:
%run '/Users/louisebonhomme/Documents/GitHub/BDC/Helpers/preprocessing.py'

In [76]:
df = pd.read_csv('/Users/louisebonhomme/Documents/GitHub/BDC/Data/df_Paris_Processed.csv')

## Cleaning iris variables

In [77]:
clean_iris_codes(df)

In [78]:
missing_df = df.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df.shape[0]-missing_df['missing values'])/df.shape[0]*100
missing_df['type'] = df.dtypes.to_numpy()
missing_df

                     variable  missing values  filling factor (%)     type
0                 id_mutation               0               100.0   object
1               date_mutation               0               100.0   object
2             code_type_local               0               100.0  float64
3                code_commune               0               100.0    int64
4             surface_terrain               0               100.0  float64
5         surface_reelle_bati               0               100.0  float64
6   nombre_pieces_principales               0               100.0  float64
7              nature_culture               0               100.0   object
8             valeur_fonciere               0               100.0  float64
9                    latitude               0               100.0  float64
10                  longitude               0               100.0  float64
11                nombre_lots               0               100.0    int64
12         numero_disposition               0               100.0    int64
13           code_departement               0               100.0    int64
14                   geometry               0               100.0   object
15                  iris_code               0               100.0   object
16                  iris_name               0               100.0   object
17                    Prix_m2               0               100.0  float64
18                       Year               0               100.0    int64
19                      Month               0               100.0    int64
20     prix_m2_moy_surf_habit               0               100.0  float64
21        prix_m2_moy_terrain               0               100.0  float64

In [79]:
path = "/Users/louisebonhomme/Documents/GitHub/BDC/Data/reference_IRIS_geo2022.xlsx"
dep = '75'
nb_iris(df, path = path, dep_code = dep)

Length of all Paris IRIS : 992
Length of IRIS in DF : 890
Number of IRIS not in DF : 102

## Régression OLS

### Process sur les données 
- split appartement / maison : appartement (prix/m2), maison (prix)
- attention : normalisation ztransform 
- log-log

**Split appart/maison**

In [80]:
df_maison , df_appart = split_appart_maison(df)

Nombre de maisons : 493
Nombre d'apparts : 144048

**Normalisation des données**

In [81]:
zTransform(df_appart, liste_vars = ['surface_terrain', 'surface_reelle_bati', 'nombre_pieces_principales'], prix = 'Prix_m2')

[2.06104909e-01 5.61854174e+01 2.53404421e+00 1.03531091e+04]

/Users/louisebonhomme/Documents/GitHub/BDC/Helpers/preprocessing.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[liste_vars] = scaler.transform(data[liste_vars])

**Echelle log-log**

In [82]:
log_var(df_appart, liste_vars = ['surface_terrain', 'surface_reelle_bati', 'nombre_pieces_principales', 'Prix_m2'])

/Users/louisebonhomme/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/louisebonhomme/Documents/GitHub/BDC/Helpers/preprocessing.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[new_variable] = np.log(data[variable])
/Users/louisebonhomme/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/louisebonhomme/Documents/GitHub/BDC/Helpers/preprocessing.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[new_variable] = np.log(data[variable])
/Users/louisebonhomme/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/louisebonhomme/Documents/GitHub/BDC/Helpers/preprocessing.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[new_variable] = np.log(data[variable])
/Users/louisebonhomme/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/louisebonhomme/Documents/GitHub/BDC/Helpers/preprocessing.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[new_variable] = np.log(data[variable])